$primary: #FFFFFF;
$bg: #364651;
$lightGray: #8F8F8F;
$calendarPrimary: #2C2C34;
$calendarSecond: #D75F55;

//Moods colors
$perfect: #7AE9AD;
$perfectHover: #49D88B;
$good: #7AE2E9;
$goodHover: #2CC9D3;
$so-so: #E9C37A;
$so-soHover: #DEA942;
$awful: #E97A7A;
$awfulHover: #DB5151;