.calendar{
    border-radius: 1rem;
    width: 68%;
    height: 460px;
    background-color: $calendarPrimary;
    box-shadow: -1px 3px 15px 0px rgba(31, 31, 31, 0.6);
}

.month{
    color: $primary;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    background-color: $calendarSecond;
    padding: 1.5rem 0;
}

.days-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 1rem;

    & div{
        color: $primary;
        font-size: 1.45rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        padding: 1.5rem 1.875rem;
    }
}

.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}